body {

    font-family: Calibri;
    text-align: center;
    font-size: 25;

}

h1 {
    font-family: Calibri;
    font-size: 60;
    color: #385E1D;
    text-align: center;
}

ul {
    font-size: helvetica;
}
 .light-theme {
     background : #e2f8d3;
     
 }

 .navbar{
     background-color: white;
     position:fixed;
     bottom:0;
     width:100%;
 }
.Fridge{
    margin-left: 800px;
}
.shop{
    margin-left: 300px;
}
.recipes{
    margin-right: 100px
}
.liked{
    margin-right: 1400px;
}
 ul li {
    padding-left:8px;
    list-style-type: square;
    margin-bottom:6px;
    text-align: center;
    text-indent: -6px;
    list-style-position: inside;
    }

.ul{
    padding:0;
		margin:0;
		display: inline-block;
		text-align:center;
		width: 90px;
}

.column{
    flex:50%;
    
}

.row{
    display: flex;
}

.table{
    text-align: center;
}

.cheese{
    visibility: hidden;
}
