body {

    font-family: Calibri;
    text-align: center;

}

h1 {
    font-family: Calibri;
    font-size: 80;
    color: #385E1D;
    text-align: center;
}

ul {
    font-size: helvetica;
}
 .light-theme {
     background : #e2f8d3;
     
 }

 .navbar{
     background-color: white;
     position:fixed;
     bottom:0;
     width:100%;
 }
.Fridge{
    margin-left: 800px;
}
.shop{
    margin-left: 300px;
}
.recipes{
    margin-right: 100px
}
.liked{
    margin-right: 1400px;
}
 ul li {
    padding-left:8px;
    list-style-type: square;
    margin-bottom:6px;
    text-align: center;
    text-indent: -6px;
    list-style-position: inside;
    }

.ul{
    padding:0;
		margin:0;
		display: inline-block;
		text-align:center;
		width: 90px;
}

.column{
    flex:50%;
    
}

.row{
    display: flex;
    font-size: 40;
}

.table{
    text-align: center;
}

.cheese{
    visibility: hidden;
}

.likedrecipes{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40;
    width: 100%;
    padding: 2.5%;
}

.cent{
    margin-bottom: 40%;
    margin-top: 40%;
    margin-left: 40%;
    margin-right: 40%; 
    text-align: center;
    font-size: large;
}